* {
    box-sizing: border-box;
}

.navbar {
    display: flex;
    flex-direction: column;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav {
    background-color: grey;
    display: flex;
    justify-content: space-between;
}

nav a {
    text-decoration: none;
    color: black;
    font-family: Verdana;
    display: inline-block;
    padding: .5em;
}
p {
    font-family: Verdana;
    font-size: 3em;
    padding: .2em;
    margin: auto;
    align-self: center;
}
nav a:hover {
    background: blue;
}
.rightmenu ul li:nth-child(1) {
    margin-left: auto;
}

