body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}

.message {
    margin: 1em auto;
    padding: .5em;
    border: .1em solid lightgray;
    width: 90%;
}

.message-info {
    background-color: lightblue;
    color: blue;
    border-radius: 10px;
}

.message-success {
    background-color: lightgreen;
    color: green;
    border-radius: 10px;
}

.message-warning {
    background-color: lightyellow;
    color: darkgoldenrod;
    border-radius: 10px;
}

.message-error {
    background-color: lightcoral;
    color: red;
    border-radius: 10px;
}